{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock title %}


{% block body %}
<form action="{{ url_for('user_registration') }}" method="post">
    <div class="d-flex justify-contentcenter" >
        <div class="col-md-8">
            <h2 class="text-center">
                Регистрация пользователя
            </h2>
            {% for field in form %}
            <div class="card-body">
                {{ field.label() }}
                {{ field(class='form-control') }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-lg">
                Регистрировать
            </button>
        </div>
    </div>
</form>
{% endblock body %}