{% extends 'base.html' %}

{% block title%}
{{ post.title}}
{% endblock title %}

{% block body %}
<div class="col-12">
    <div class="card ">
        <div class="card-header d-flex justify-content-between">
            {{ post.category.title }}
            <div>
                <a href="#!" class="btn btn-outline-danger">Удалить</a>
                <a href="#!" class="btn btn-outline-secondary">Редактировать</a>
                <a href="#!" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-body-secondary">
          <!--  {{ post.created_at.strftime('%d.%m.%Y %H:%M:%S') }} -->
            {{ post.created_at | time_filter }}
        </div>
    </div>
</div>
{% endblock body %}